__pycache__/
.pytest_cache/
.venv/
.env
.Renviron
.lintr
.ruff_cache/
notebook.ipynb
practice.py
exercises/


!data/raw/.gitkeep
data/processed/*
data/migrate_dataframes.R
data/sync_nhanes.sh
!data/processed/.gitkeep
